body{
    background-color:#D2D4D6;
    margin:0px
}

@font-face {
  font-family: 'dpcomic';
  src: url('../lib/font-awesome/fonts/dpcomic.ttf');
}

*{
    font-family: "dpcomic";
}

#start{
  animation:fading 2s infinite;
}
@keyframes
fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

#title{
  color: #d6ecef;
  position:absolute;
  top: 10%;
  left: 11%;
  font-size:199px;
  width:100%;
  animation:growing 4s infinite;
  text-shadow: 10px 10px #c5dbde;
}
@keyframes
growing{0%{transform: scale(1)}50%{transform: scale(1.01)}100%{transform: scale(1)}}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  top: 5%;
  right: 10%;
}

#introModal{
  left:10%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer1 {
  padding: 1px 0px;
  background-color: #000000;
  color: white;
  text-align: center;
  width: 48%;
  display: inline-block;
  position: relative;
  border-style: solid;
  border-color: #fefefe;
}
.modal-footer2 {
  padding: 1px 0px;
  background-color: #000000;
  color: white;
  text-align: center;
  width: 48%;
  display: inline-block;
  position: relative;
  border-style: solid;
  border-color: #fefefe;
}
